.reference, h1 {
    text-align: center;
}

#Navigation {
    list-style-type: none;
    margin-left: auto; 
    margin-right: auto; 
    width: 55%;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.links {
    float: left;
}

.links a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.links a:hover {
    background-color: #4CAF50;
} 

.main-container {
    display: flex;
    width: 55%;
    margin-right: auto;
    margin-left: auto; 
    box-shadow: 5px 5px 5px gray;
    background-color: #EEEEEE;
    justify-content: center;
}

.plain-container {
    width: 45%;
    margin-right: auto;
    margin-left: auto; 
}


img {
    margin-top: 5px;
    max-width: 100%;
    height: auto;
}

.sidePictures {
    width: 200px;
    display: flex;
}

#centerPicture {
    width: 581px;
}

#item2, #item1, #item3 {
    margin-left: 20px;
    margin-right: 20px;
}

.title {
    text-align: center;
}

#title-container {
    display: flex;
    width: 55%;
    margin-right: auto;
    margin-left: auto; 
    background-color: #EEEEEE;
    justify-content: center;
    flex-direction: column;
}









